@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

body, html
{
    margin: 0px;
    padding:0px;
    font-family: 'Lato';
    width:auto;
}

title
{
    color: darkslategray;
    font-size: 50px;
}

.fruit
{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 450px;
    color: white;
}

.text1
{
    text-align: center;
    color: white;
    position: relative;
    top: 470px;
    font-weight: bold;
    font-style: italic;
}

.background_titre
{
    background-image: url("images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 600px;
}

.barreblanche
{
    background-color: yellow;
}

/* Header */
.head
{
    height: 10%;
    background: #000;
}

.head_ban
{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    position:relative;
    width:90px;
}

.container
{
    width: 90%;
    margin: auto;
    position: relative;
}


.head_ban_menu_lien
{
    margin-left: 40px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

/* Intro */ 


#photo_filles
{
    width:400px;
    height:500px;
    display:block;
    margin:auto;
    margin-top: 80px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    animation: landing 1.5s ease;
}


#titre_intro
{
    font-size:60px;
    position:relative;
    text-align: center; 
    margin-top: 80px;
}


#texte_intro
{
    font-size:30px;;
    position:relative;
    margin-top: 60px;
    text-align: center;
    margin-left:80px;
    margin-right: 80px;
}


/* Contact */


#infos_contacts
{
    font-size:20px;
    position:relative;
    text-align: center;
    color:white;
    top:100px;
}

#link_visited
{
    text-decoration: none;
    color:white;
}

.background_footer
{
    background-color: black;
    background-position: center;
    height:180px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#info_contact_style
{
    font-style:italic;
}

@keyframes landing{
    0% {
        opacity:0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*ANIMATION*/

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.slide:nth-child(1) {
  background-image: url(images/boucle_oreille_bleu.jpg);
}

.slide:nth-child(2) {
  background-image: url(images/boucle_oreille_alien.jpg);
}

.slide:nth-child(3) {
  background-image: url(images/boucle_oreille_face.jpg);
}

.slide:nth-child(4) {
  background-image: url(images/boucle_oreille_naf.jpg);
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
